body
{
	color: white;
	background-color: black;
}

h1
{
	font-family: Roboto;
}

img
{
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}

#formularios
{
	display: flex;
}

#division3
{
	display: flex;
}

